# === NetBeans build folders ===
/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/22113100_JordanCarthy_server/target/
/22113100_JordanCarthy_client/target/
